<h2>{{car.name}}</h2>
<p>Type: {{car.type}}</p>
<p>Color: {{car.color}}</p>
<p>Status: {{car.status}}</p>
<p>Description: {{car.description}}</p>

{{#if user}}
  <form action="/bookings/new" method="GET">
    <input type="hidden" name="car_id" value="{{car.id}}" />
    <button type="submit">Proceed to Booking</button>
  </form>
{{else}}
  <p><a href="/users/login">Login</a> to proceed with booking.</p>
{{/if}}
